##训练集(train_set) / 验证集(validate_set) / 推荐集(predict_set)

3. 构建训练集、测试集：训练集和测试集的时间点是一个关键因素，选择确定之后整个竞赛过程就不要反复调整了；请谨慎选择他们和target天的关系，这是很有讲究的，。一个最基本知识就是不要把训练集和测试集选到同一天。
> 1. 训练集和测试集在形式上的区别在于前者有类别标签，后者则需要模型输出相应的类别标签。
> 2. 构建验证集：在你做到一定水平之后，你就会发现只有训练集和测试集是不够的，你可能会想到选择第三个日期来构建验证集。构建验证集有这样几个好处：防止测试集被分析的太多了反而忘了线上集的分数才是你最终的排名标准；利用测试集和验证集的时间关系更好的猜到线上集上能拿到的成绩;把验证集、训练集、测试集用各种方式换过来试一下，也许你能看到你原来想象不到的现象出现

6. 构建提交候选集（线上集）：对于在target天可能产生购买行为的（U，I），我们虽然无法知道他到底最终是否被购买了，但是我们要为它们产生特征并交由模型进行预测。？不太明白这句
> 6.1 不要试图预测从来没有产生行为的（U，I）：虽然没有产生过行为的（U，I）在最终结果集中占比很大，是一个非常诱人的部分；但是为了预测这部分样本，产生候选集的大小是以乘法级别上涨的。我们尝试过计算商品的相关，用户和商品的隐变量，最活跃的用户，最热销的商品这几种方法，都没有能够有效提升最终的F值。如果你没有崭新的思路或者更细的耕耘，请不要在这条路上浪费时间。

将**tianchi_mobile_recommend_train_user.cvs**划分为训练集和验证集，用于测试算法的效果。
> 如何划分？   
> 样本的粒度：(user_id,item_id)  
> 训练集train_set，11-18～12-17，其相应的类别标签（tag：1,购买; 0,未购买）来自于12-18日的购买情况，各个特征以此时间段计算出  
> 测试集test_set，11-18～12-18，没有类别标签，特征由此段时间计算出  
> 验证集validate_set，12-18，这一天的购买了的数据，字段只要包含(user_id,item_id)  
> 候选集predict_set如何产生

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train_user = pd.read_csv('data/raw/tianchi_mobile_recommend_train_user.csv')
df_train_user

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,98047837,232431562,1,NaN,4245,2014-12-06 02
1,97726136,383583590,1,NaN,5894,2014-12-09 20
2,98607707,64749712,1,NaN,2883,2014-12-18 11
3,98662432,320593836,1,96nn52n,6562,2014-12-06 10
4,98145908,290208520,1,NaN,13926,2014-12-16 21
5,93784494,337869048,1,NaN,3979,2014-12-03 20
6,94832743,105749725,1,NaN,9559,2014-12-13 20
7,95290487,76866650,1,NaN,10875,2014-11-27 16
8,96610296,161166643,1,NaN,3064,2014-12-11 23
9,100684618,21751142,3,NaN,2158,2014-12-05 23
10,100509623,266020206,3,tfvomgk,4923,2014-12-08 17
11,101781721,139144131,1,9rgt162,3424,2014-12-13 21
12,103891828,255365467,1,96sjmho,552,2014-12-01 13
13,101260672,212072908,1,95q0is4,10984,2014-12-12 11
14,104811265,322736792,1,NaN,6513,2014-12-11 19
15,103802946,382807809,1,NaN,13103,2014-11-20 23
16,104221274,262661866,1,NaN,4370,2014-12-14 12
17,110418606,144902506,1,NaN,11639,2014-12-09 16
18,100684618,185630324,1,NaN,5204,2014-11-26 11
19,100509623,76021805,1,NaN,1308,2014-11-21 12
20,101781721,19349307,1,9rgt16g,1863,2014-12-12 12
21,103891828,149380817,1,NaN,7876,2014-12-08 21
22,101260672,395905225,1,NaN,14018,2014-11-28 09
23,104811265,328893812,1,NaN,5894,2014-12-05 11
24,103802946,142178953,1,NaN,12536,2014-11-23 21
25,104221274,114830658,1,NaN,9516,2014-11-29 09
26,110418606,335988905,1,NaN,10703,2014-11-25 19
27,100684618,66146539,1,NaN,3783,2014-12-05 23
28,100509623,236195070,1,NaN,1863,2014-12-15 14
29,101781721,46475830,1,9rgt17q,13230,2014-12-16 21
...,...,...,...,...,...,...
12256876,91530370,277962627,1,NaN,4640,2014-12-16 22
12256877,91530370,136942019,1,NaN,9820,2014-11-26 13
12256878,91530370,170765640,1,NaN,3381,2014-12-12 00
12256879,91530370,309381689,1,NaN,11552,2014-12-16 22
12256880,91530370,130056262,1,NaN,11552,2014-12-16 22
12256881,91530370,82501758,1,NaN,552,2014-12-04 23
12256882,91530370,393936911,3,NaN,8792,2014-11-26 13
12256883,91530370,393936911,1,NaN,8792,2014-11-26 13
12256884,91530370,186332216,1,NaN,552,2014-11-26 13
12256885,91530370,384717078,2,NaN,7876,2014-12-02 23
12256886,91530370,293543750,3,NaN,552,2014-12-04 23
12256887,91530370,183076534,1,NaN,9720,2014-12-02 18
12256888,91530370,183076534,1,NaN,9720,2014-11-28 23
12256889,91530370,241618446,1,NaN,3381,2014-11-26 12
12256890,91530370,241618446,1,NaN,3381,2014-11-26 13
12256891,91530370,183076534,1,NaN,9720,2014-12-02 18
12256892,91530370,183076534,1,NaN,9720,2014-12-02 18
12256893,91530370,183076534,1,NaN,9720,2014-11-30 13
12256894,91530370,131769266,1,NaN,12090,2014-12-03 13
12256895,91530370,320518586,1,NaN,12090,2014-12-03 13
12256896,91530370,94732789,1,NaN,12090,2014-12-12 23
12256897,91530370,330719178,1,NaN,12090,2014-12-15 01
12256898,91530370,82755420,1,NaN,12553,2014-12-03 00
12256899,91530370,58196276,1,NaN,12553,2014-11-26 10
12256900,91530370,101985395,3,NaN,12090,2014-12-12 21
12256901,93812622,378365755,1,95q6d6a,11,2014-12-13 21
12256902,93812622,177724753,1,NaN,12311,2014-12-14 21
12256903,93812622,234391443,1,NaN,8765,2014-12-11 16
12256904,93812622,26452000,1,95q6dqc,7951,2014-12-08 22
12256905,108404535,362699797,1,NaN,9847,2014-12-03 19

In [3]:
# # 过滤掉 12.12 的记录
# df_train_user = df_train_user[df_train_user.time.map(lambda x: not x.startswith('2014-12-12'))]
# df_train_user.to_csv('data/raw/no1212tianchi_mobile_recommend_train_user.csv', index=False)

分割点为 2014-12-18 00  
训练集train_set，11-18～12-17，其相应的类别标签（tag：1,购买; 0,未购买）来自于12-18日的购买情况，各个特征以此时间段计算出  
测试集test_set，11-18～12-18，没有类别标签，特征由此段时间计算出  
验证集validate_set，12-18，这一天的购买了的数据，字段只要包含(user_id,item_id) 候选集predict_set如何产生

In [4]:
import datetime

def ge_validate_set(df, separate_day='2014-12-18 00', to_file='data/raw_validate_set.csv'):
    # TODO: 使用datetime格式替代str格式来比较
    # separate_day = datetime.datetime(2014,12,18,0)
    # parseDate = lambda s: datetime.datetime.strptime(s, "%Y-%m-%d %H")
    validate_set = df[ df.time >= '2014-12-18 00']
    validate_set = validate_set[ df.behavior_type > 3]
    # TODO: 去重
    if to_file:
        validate_set.to_csv(to_file, index=False)
    return validate_set


def ge_result(df=None, to_file='data/result.csv'):
    # 结果只保留 user_id, item_id
    result = df or pd.read_csv('data/raw_validate_set.csv')
    #result = result.drop(['behavior_type','user_geohash','item_category','time'], axis=1)
    result = result[['user_id', 'item_id']]
    # 过滤出在P商品子集上的记录
    P = pd.read_csv('data/raw/tianchi_mobile_recommend_train_item.csv')
    P_item_set = set(P.item_id.values)
    result = result[result.item_id.map(lambda x: x in P_item_set)]
    # 去重
    result = result.groupby(['user_id', 'item_id'])
    result = pd.DataFrame(result.groups.keys(), columns=['user_id', 'item_id'])
    if to_file:
        result.to_csv(to_file, index=False)
    return result


# train_set：
# 1. 过滤出time<2014-12-18 00的所有记录
# 2. 对过滤出的记录添加buy column(根据12-18号的记录对其进行标记)
# 3. 要把time字段替换为date_delta -> 放到特征工程中再做吧
def ge_train_set(df, result, separate_day='2014-12-18 00', to_file='data/1212raw_train_set.csv'):
    # TODO: 使用datetime格式替代str格式来比较
    # separate_day = datetime.datetime(2014,12,18,0)
    # parseDate = lambda s: datetime.datetime.strptime(s, "%Y-%m-%d %H")
    result_set = set((i[0],i[1]) for i in result.values)
    train_set = df[ df.time < '2014-12-18 00']
    
    if to_file:
        train_set.to_csv(to_file, index=False)
    return train_set


def ge_test_set(df, to_file='data/test_set/tianchi_mobile_recommend_test_user.csv'):
    # 商品子集 P
    P = pd.read_csv('data/raw/tianchi_mobile_recommend_train_item.csv')
    P_item_set = set(P.item_id.values)
    # 过滤出 item_id 属于 P(商品子集) 的记录
    test_set = df[df.item_id.map(lambda x: x in P_item_set)]
    if to_file:
        test_set.to_csv(to_file, index=False)
    return test_set

###验证集validate_set

12-18，这一天的购买了的数据，字段只要包含(user_id,item_id) 候选集predict_set如何产生

In [5]:
validate_set = ge_validate_set(df_train_user)
validate_set

/home/kuroro/.virtualenvs/ml/local/lib/python2.7/site-packages/pandas/core/frame.py:1815: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

,user_id,item_id,behavior_type,user_geohash,item_category,time
1421,132252054,319438796,4,NaN,2153,2014-12-18 16
12336,2242451,59801863,4,NaN,3942,2014-12-18 10
15169,140781295,265069069,4,NaN,11279,2014-12-18 12
16053,35354529,8080117,4,NaN,5232,2014-12-18 17
20237,4361577,200128346,4,95b03su,7405,2014-12-18 19
22027,32198657,343998250,4,NaN,9765,2014-12-18 19
28892,98607707,399424279,4,NaN,3628,2014-12-18 12
36075,102057111,60329480,4,NaN,2993,2014-12-18 11
38454,137204928,378584526,4,NaN,1083,2014-12-18 10
38824,110883373,386103471,4,99nfp0i,8010,2014-12-18 23
39094,110883373,233966281,4,NaN,1421,2014-12-18 11
40396,100279459,349174986,4,94j7424,630,2014-12-18 11
41134,100279459,321117608,4,NaN,6045,2014-12-18 16
41182,110883373,191087538,4,99nfp1m,13056,2014-12-18 23
46383,22207490,127522380,4,NaN,5503,2014-12-18 14
46401,22207490,261761895,4,NaN,11623,2014-12-18 15
48763,2913602,14881953,4,NaN,6255,2014-12-18 10
50926,141187200,274309044,4,NaN,1315,2014-12-18 23
56341,33797179,126971511,4,NaN,10138,2014-12-18 12
59086,33797179,251161055,4,NaN,13378,2014-12-18 12
67248,3512329,30580517,4,95qp1mn,6991,2014-12-18 09
71907,96985981,208715196,4,NaN,6648,2014-12-18 21
72811,20653615,382659783,4,NaN,10360,2014-12-18 19
73505,29285910,171315964,4,NaN,3368,2014-12-18 20
81640,44446177,343168939,4,94fr2e9,5533,2014-12-18 12
88187,54373708,311043403,4,95f7iqe,5919,2014-12-18 17
97873,86239261,29934207,4,94n6j2j,4778,2014-12-18 17
99328,54388253,227776209,4,951pkil,9970,2014-12-18 23
103927,7138866,54671943,4,NaN,5271,2014-12-18 16
111989,79558429,129178487,4,NaN,1346,2014-12-18 12
...,...,...,...,...,...,...
12141257,86034641,356147478,4,NaN,10121,2014-12-18 11
12143348,135402088,154105215,4,NaN,4333,2014-12-18 18
12148165,132061340,144624082,4,9r7kviw,5774,2014-12-18 12
12157260,67933987,343507809,4,NaN,11756,2014-12-18 01
12164614,11171971,44436933,4,9661rlp,3099,2014-12-18 21
12165880,107583783,79959313,4,94eg4th,231,2014-12-18 14
12172208,22874532,252996824,4,94k0cnr,12158,2014-12-18 12
12175615,27842036,183396589,4,94w63s5,13971,2014-12-18 08
12180450,58784511,215759448,4,NaN,3324,2014-12-18 15
12180836,31298818,333272319,4,NaN,6255,2014-12-18 15
12180846,31298818,333272319,4,NaN,6255,2014-12-18 15
12199800,23049176,115124482,4,9rdm7cr,5027,2014-12-18 22
12199810,23049176,115124482,4,9rdm7b9,5027,2014-12-18 22
12199820,23049176,115124482,4,9rdm7cp,5027,2014-12-18 22
12199849,83073587,43804013,4,NaN,14079,2014-12-18 12
12200638,89710336,264990476,4,NaN,8666,2014-12-18 14
12200648,89710336,354158992,4,NaN,7148,2014-12-18 14
12202342,7011544,61634568,4,NaN,11279,2014-12-18 22
12207394,85822276,107850733,4,NaN,10961,2014-12-18 10
12213019,57105532,359706800,4,95kf17j,6513,2014-12-18 12
12214672,85559921,166513664,4,9qpl62s,1324,2014-12-18 07
12219603,99674599,117114933,4,96nr332,6344,2014-12-18 13
12219743,99674599,274360527,4,96nr3vq,6344,2014-12-18 13
12219823,99674599,361502323,4,96nr32l,6344,2014-12-18 13
12223752,134630812,256013285,4,9rf9oov,4370,2014-12-18 18
12224413,71702944,94930097,4,NaN,10392,2014-12-18 01
12224417,71702944,363129114,4,NaN,13041,2014-12-18 23
12230266,134377639,198811262,4,NaN,1863,2014-12-18 09
12235419,83369179,296043674,4,NaN,5027,2014-12-18 10
12248909,10480848,34635028,4,NaN,11385,2014-12-18 18

In [6]:
#result = ge_result(validate_set)
result = ge_result()
result

       user_id    item_id
0    109179391  227275517
1     99418963  366911878
2     80519771   81363321
3     23228065  197445650
4     33173119    9466715
5     78574430  350898954
6    118282748   90395886
7     29285910  171315964
8     62443822  368529623
9     53517495  313891623
10    93945524  176785680
11   140502795  366470794
12    21740397     622520
13     9695904  152800753
14    81182608  303964448
15     1799885  332699262
16   137663887  243699571
17    46312993  400991618
18    81925863  299012250
19    40781736  164618396
20    45101614   73363793
21    78127630  273846011
22   116489495  335309109
23    56444539  266518564
24    47237907   68000960
25   131506912  274749601
26    60660467  231950057
27   108879821  174063202
28   112345599  264264411
29   121550598  305613858
..         ...        ...
357   85862488  173705692
358   33245877  230897442
359   53688011  105276418
360   47257431  168733410
361  137129651  378512352
362  140502795  352340108
363   99785045  272357531
364   61459598   76814950
365    3543407  307811058
366  115129419  325115983
367  100288957  242930737
368   38016396  266995399
369   15688979  161494225
370   58156669   76918251
371  108546559  127077749
372   72651215  316555195
373   83832211  191275614
374    3694961  244942918
375    4752206   54423660
376   48776635  392242943
377   14735918   18571305
378   47257431    5375121
379   69462679  200172766
380   22040312  299851899
381   78068981  312170761
382  100968525   93654301
383  140502795  131723630
384  139750127   38359465
385  110007607  135117255
386   31943268   36454016

[387 rows x 2 columns]

###训练集train_set

11-18～12-17，其相应的类别标签（tag：1,购买; 0,未购买）来自于12-18日的购买情况，各个特征以此时间段计算出

In [7]:
train_set = ge_train_set(df_train_user, result)
train_set

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,98047837,232431562,1,NaN,4245,2014-12-06 02
1,97726136,383583590,1,NaN,5894,2014-12-09 20
3,98662432,320593836,1,96nn52n,6562,2014-12-06 10
4,98145908,290208520,1,NaN,13926,2014-12-16 21
5,93784494,337869048,1,NaN,3979,2014-12-03 20
6,94832743,105749725,1,NaN,9559,2014-12-13 20
7,95290487,76866650,1,NaN,10875,2014-11-27 16
8,96610296,161166643,1,NaN,3064,2014-12-11 23
9,100684618,21751142,3,NaN,2158,2014-12-05 23
10,100509623,266020206,3,tfvomgk,4923,2014-12-08 17
11,101781721,139144131,1,9rgt162,3424,2014-12-13 21
12,103891828,255365467,1,96sjmho,552,2014-12-01 13
13,101260672,212072908,1,95q0is4,10984,2014-12-12 11
14,104811265,322736792,1,NaN,6513,2014-12-11 19
15,103802946,382807809,1,NaN,13103,2014-11-20 23
16,104221274,262661866,1,NaN,4370,2014-12-14 12
17,110418606,144902506,1,NaN,11639,2014-12-09 16
18,100684618,185630324,1,NaN,5204,2014-11-26 11
19,100509623,76021805,1,NaN,1308,2014-11-21 12
20,101781721,19349307,1,9rgt16g,1863,2014-12-12 12
21,103891828,149380817,1,NaN,7876,2014-12-08 21
22,101260672,395905225,1,NaN,14018,2014-11-28 09
23,104811265,328893812,1,NaN,5894,2014-12-05 11
24,103802946,142178953,1,NaN,12536,2014-11-23 21
25,104221274,114830658,1,NaN,9516,2014-11-29 09
26,110418606,335988905,1,NaN,10703,2014-11-25 19
27,100684618,66146539,1,NaN,3783,2014-12-05 23
28,100509623,236195070,1,NaN,1863,2014-12-15 14
29,101781721,46475830,1,9rgt17q,13230,2014-12-16 21
30,103891828,260817036,1,96sjmhk,552,2014-12-01 13
...,...,...,...,...,...,...
12256876,91530370,277962627,1,NaN,4640,2014-12-16 22
12256877,91530370,136942019,1,NaN,9820,2014-11-26 13
12256878,91530370,170765640,1,NaN,3381,2014-12-12 00
12256879,91530370,309381689,1,NaN,11552,2014-12-16 22
12256880,91530370,130056262,1,NaN,11552,2014-12-16 22
12256881,91530370,82501758,1,NaN,552,2014-12-04 23
12256882,91530370,393936911,3,NaN,8792,2014-11-26 13
12256883,91530370,393936911,1,NaN,8792,2014-11-26 13
12256884,91530370,186332216,1,NaN,552,2014-11-26 13
12256885,91530370,384717078,2,NaN,7876,2014-12-02 23
12256886,91530370,293543750,3,NaN,552,2014-12-04 23
12256887,91530370,183076534,1,NaN,9720,2014-12-02 18
12256888,91530370,183076534,1,NaN,9720,2014-11-28 23
12256889,91530370,241618446,1,NaN,3381,2014-11-26 12
12256890,91530370,241618446,1,NaN,3381,2014-11-26 13
12256891,91530370,183076534,1,NaN,9720,2014-12-02 18
12256892,91530370,183076534,1,NaN,9720,2014-12-02 18
12256893,91530370,183076534,1,NaN,9720,2014-11-30 13
12256894,91530370,131769266,1,NaN,12090,2014-12-03 13
12256895,91530370,320518586,1,NaN,12090,2014-12-03 13
12256896,91530370,94732789,1,NaN,12090,2014-12-12 23
12256897,91530370,330719178,1,NaN,12090,2014-12-15 01
12256898,91530370,82755420,1,NaN,12553,2014-12-03 00
12256899,91530370,58196276,1,NaN,12553,2014-11-26 10
12256900,91530370,101985395,3,NaN,12090,2014-12-12 21
12256901,93812622,378365755,1,95q6d6a,11,2014-12-13 21
12256902,93812622,177724753,1,NaN,12311,2014-12-14 21
12256903,93812622,234391443,1,NaN,8765,2014-12-11 16
12256904,93812622,26452000,1,95q6dqc,7951,2014-12-08 22
12256905,108404535,362699797,1,NaN,9847,2014-12-03 19

###测试集test_set

In [8]:
test_set = ge_test_set(df_train_user)
test_set

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,98047837,232431562,1,NaN,4245,2014-12-06 02
3,98662432,320593836,1,96nn52n,6562,2014-12-06 10
8,96610296,161166643,1,NaN,3064,2014-12-11 23
9,100684618,21751142,3,NaN,2158,2014-12-05 23
17,110418606,144902506,1,NaN,11639,2014-12-09 16
21,103891828,149380817,1,NaN,7876,2014-12-08 21
24,103802946,142178953,1,NaN,12536,2014-11-23 21
33,103802946,194298205,1,NaN,11406,2014-12-18 21
38,101781721,5166487,1,9rgt17v,9829,2014-12-18 14
39,103891828,145981615,1,NaN,7876,2014-12-11 08
45,100684618,21751142,1,NaN,2158,2014-12-05 23
47,101781721,313509440,1,9rgt17c,10431,2014-12-14 17
51,103802946,194298205,1,NaN,11406,2014-12-18 21
57,103891828,248073278,1,NaN,7876,2014-12-11 00
59,104811265,202500981,1,NaN,9614,2014-12-04 10
74,101781721,164843429,1,9rgt16n,10431,2014-12-14 13
75,103891828,149380817,1,NaN,7876,2014-12-08 21
77,104811265,80446342,1,NaN,9614,2014-12-04 09
81,100684618,128274652,1,NaN,8179,2014-12-10 09
86,104811265,111298091,1,NaN,9614,2014-12-04 10
90,100684618,21751142,1,NaN,2158,2014-12-16 19
91,100509623,208961216,1,NaN,12221,2014-11-22 16
104,104811265,400499276,1,NaN,9614,2014-12-04 10
116,116730636,404306719,1,NaN,11991,2014-12-17 12
118,100509623,395878707,1,NaN,3368,2014-12-12 14
119,101781721,348475296,1,9rgt17r,10431,2014-12-16 09
127,100509623,100583549,1,NaN,3368,2014-12-12 14
135,100684618,128274652,1,NaN,8179,2014-12-10 08
137,101781721,313509440,1,9rgt17h,10431,2014-12-14 20
140,104811265,389719968,1,NaN,1483,2014-12-05 09
...,...,...,...,...,...,...
12256679,76314785,135212005,1,NaN,12090,2014-11-18 23
12256680,76314785,270179391,2,NaN,7995,2014-12-07 14
12256704,76314785,8238466,1,NaN,4864,2014-12-12 00
12256714,79359253,160598318,1,9rlitn5,10324,2014-12-06 22
12256725,79359253,160598318,1,9rlit26,10324,2014-12-06 22
12256733,79359253,179044186,1,9rlit2b,3942,2014-12-10 20
12256734,79359253,134663316,1,9rlit2v,3942,2014-12-10 21
12256755,79359253,375841925,1,9rlit7e,6874,2014-12-18 20
12256756,79359253,375841925,3,9rlit27,6874,2014-12-18 20
12256819,79359253,113247234,1,NaN,6272,2014-12-04 21
12256836,79359253,100964188,1,9rlit7m,10073,2014-12-18 20
12256845,81933823,43275818,1,NaN,4008,2014-12-01 21
12256848,81933823,393769196,1,NaN,9614,2014-11-23 22
12256851,81933823,128349585,1,NaN,7033,2014-12-14 21
12256863,81933823,137491626,1,NaN,6247,2014-12-05 00
12256864,81933823,137491626,1,NaN,6247,2014-12-05 00
12256870,91530370,254385676,1,NaN,2122,2014-11-30 08
12256873,91530370,254385676,1,NaN,2122,2014-11-28 16
12256874,91530370,181004546,1,NaN,12758,2014-12-12 23
12256882,91530370,393936911,3,NaN,8792,2014-11-26 13
12256883,91530370,393936911,1,NaN,8792,2014-11-26 13
12256885,91530370,384717078,2,NaN,7876,2014-12-02 23
12256894,91530370,131769266,1,NaN,12090,2014-12-03 13
12256895,91530370,320518586,1,NaN,12090,2014-12-03 13
12256896,91530370,94732789,1,NaN,12090,2014-12-12 23
12256897,91530370,330719178,1,NaN,12090,2014-12-15 01
12256898,91530370,82755420,1,NaN,12553,2014-12-03 00
12256899,91530370,58196276,1,NaN,12553,2014-11-26 10
12256900,91530370,101985395,3,NaN,12090,2014-12-12 21
12256904,93812622,26452000,1,95q6dqc,7951,2014-12-08 22